@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(../img/bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 50px;
}

.container {
  position: relative;
  width: calc(100% - 100px);
  min-height: calc(100vh - 280px);
  min-height: 300px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

header {
  position: absolute;
  top: -40px;
  right: 20px;
  left: 20px;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

header .logo {
  color: #5C1B7F;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
}

header ul {
  display: flex;
}

header ul li {
  list-style: none;
  margin: 0 10px;
}

header ul li a {
  text-decoration: none;
  font-weight: 500;
  color: #5C1B7F;
  padding: 8px 15px;
  border-radius: 25px;
  transition: all 0.5s;
}

header ul li a:hover,
header ul li a.active {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content {
  transform: translateX(-100px);
  max-width: 700px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding: 40px;
  padding-left: 110px;
}

.content h2 {
  font-size: 3em;  
  color: #5C1B7F;
}

.content p {
  font-size: 1.2em;  
  color: #5C1B7F;
}

.content a {
  display: inline-block;
  padding: 15px 30px;
  background: #fff;
  color: #5C1B7F;
  margin-top: 20px;
  border-radius: 30px;
  font-size: 1.2em;
  font-weight: 700;
  text-decoration: none;
  box-shadow: o 5px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
}

.content a:hover {
  background: #5C1B7F;
  color: #fff; 
}

.imgBx img {
  /* max-width: 400px; */
  height: 400px;
  width: 400px;
  overflow-y: hidden;
  animation: animate 5s linear infinite;
  /* background: #000; */
}

@keyframes animate {
  0%, 100% {transform: translateY(50px);}
  50% {transform: translateY(100px);}
}